<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button color="danger" ion-button icon menuToggle>
        <ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
 <ion-slides autoplay= "3000" pager>
   <ion-slide *ngFor="let number of [1,2,3,4]">
     <img src="./assets/imgs/mine/{{number}}.jpeg"/>
   </ion-slide>
   </ion-slides>
   </ion-card>

  <ion-list>
    <ion-item *ngFor="let product of products" text-wrap (click)="openproductpage(product)">
      <ion-thumbnail item-start>
        <img [src]="product.productImage">
      </ion-thumbnail>
      <h2>{{product.name}}</h2>
      
   <p>
      <span [innerHTML]="product.description.substr(0, 50) + '...'"></span>
      </p>
      <button ion-button clear item-right>
          <ion-icon name="arrow-round-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
